<br>
<section>
  <h3>Registrar Pedido</h3>
  
  <% if @order.errors.any? %>
    <% order.errors.full_messagens.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <%= render 'form' %>
</section>