header {
    color: white;
    text-align: center;
    background-color: darkblue;
    border-radius: 40px;
    width: 400px;
    margin: auto;
}

body {
    font: normal 15pt Arial;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.65);
    background-image: url('wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    background:  rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 25px;
    width: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}
section.medium {
    width: 270px;
    text-align: right;
}
section.hight {
    width: 330px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.15);
    width: 170px;
    margin: auto;
    border-radius: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: darkblue;
    text-decoration: underline;
}