<br>
<section>
    <% if(@warehouse.errors.any?) %>
        <h4>Verifique os erros abaixo:</h4>
        <h5>
            <% @warehouse.errors.full_messages.each do |msg| %>
                <%= msg %><br>
            <% end %>
        </h5>
    <% end %>
    <h3>Novo Galpão</h3>
    <%= render 'form' %>
    <div>
        <%= link_to('Voltar', root_path)%>
    </div>
</section>